/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  prefersdark: false;
  default: true;
  --color-primary: #f9a51a;
  --color-secondary: #2b2b2b;
  --color-base-200: #f2f2f2;
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

.swiper-slide-active .border-transparent {
  border-color: #ffa500 !important;
}
